* {
  background-color:whitesmoke;
}

.App {
  text-align: center;
}

.text{
  color: #282c34;
}

#gameName {
  color: #1d7c96;
  margin: 5px 10px 10px 5%;
}

#highScore {
  color: #1d7c96;
  text-align: center;
}

#winCounter {
  color: #1d7c96;
  text-align: center;
}

input {
  background-color: white;
  color: black;
  margin-left: 20px;
  margin-bottom: 20px;
  min-width: 33%;
}

button {
  background-color:white;
  color: black;
  
}

.outerDiv{
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.leftMarg {
  margin-left: 25px;
  margin-right: 25px;
}

#errorDisplay {
  color: red;
}

.BROKEN {
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
